<app-navbar> </app-navbar>
<main class="mainMessaging">
  <nav class="navMessage navbar navbar-toggleable-md navbar-light bg-faded">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbarMessageName navbar-brand" href="#">Bill Gates</a>

  </nav>

  <div class="board">
     <!-- <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
      <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
       <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
        <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
         <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
          <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
           <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
            <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
             <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p> -->
              <!-- <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript </p>
               <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p> -->
                <!-- <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p> -->
    <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
   <p class="pm" >hi tell me when u are ready to start the session i will start with how to define variables in javascript</p>
  </div>
  <div class="messageTextArea">
    <textarea class="msgTextArea" placeholder="Message Bill Gates" name="name" rows="4" cols="80"></textarea>
  </div>

</main>
