<div class="card test">
  <span  [ngClass]="{'onlineSymbol': suggestedMatch.onlineFlag}">

  </span>
   <div class="cardImg" >

     <img class="suggestedImgs"  src="{{suggestedMatch.imageUrl}}" alt="">
   </div>

   <div class="cardTitle">
     <p class="suggestedName">{{suggestedMatch.name}}</p>
   </div>
   <div class="">
     <p class="skills">Teach: {{skillsTeachStr}} </p>
     <p class="skills">Learn: {{skillsLearnStr}} </p>
   </div>
   <div class="CardBtns">
     <button class="btnCard btn btn-secondary" type="button" name="button" (click)="addConnect()">Connect</button>
   </div>
</div>
