/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f7f7f7;
}
.navbar {
  background-color: black;
}
.navbar-brand  {
  color: white!important;
}
.nav-link {
  color: white!important;
}
.btnCard {
  background-color: #f7f7f7!important;
  border-color: #eee!important;
  font-size: 0.9em!important;
  padding-top: 4%!important;
  padding-bottom: 4%!important;
}
button:hover {
    background-color: #eee!important;
}
main {
  width: 50%;

  margin: auto;
  margin-top: 3%;
  background-color: white;


}
.test {
      width: 33.33333%;
      height: 30vh;
      float: left;
}
.cardImg {
  width:40%;
  margin: auto;
  /*margin-top: 5%;*/
  margin-bottom: 0%;
}
.cardTitle {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0px;

}
.CardBtns {
  margin: auto;

}
.suggestedImgs {
   width: 100%;
   height: 6.5vw;
   background-size: cover;
   display: block;
   border-radius: 50%;
}

.profileImg {
  width: 25%;
  height: 3.5vw;
  background-size: cover;
  display: block;
  border-radius: 50%;
  float: left;
  margin-top: 1.5%;

}

.profile {
  width:15%;
  margin-left: 2%;
}
.profileName {
  font-size: 0.9em;
  margin-top: 10%;
  margin-left: 33%;
  color: white;
}
.mainTitle {
  /*margin-bottom: 1%;*/
  padding-top: 1.5%;
  font-size: 1.5em;
 text-align: center;
 /*padding-left: 2%;*/
  height: 8vh;
  background-color: white;
  border: 1px solid #eee;
}
.connectTitle {
  /*margin-bottom: 1%;*/
  padding-top: 1.5%;
  font-size: 1.5em;
 text-align: center;
 /*padding-left: 2%;*/
  height: 14vh;
  background-color: white;
  border: 1px solid #eee;
}
.connectionCard {
  width: 100%;
  height: 15vh;
  border-radius: 0px;
  padding: 1.5%;
  float: left;
  background-color: white;
  border: 1px solid #eee;

}
.connectionImg {
  width:14%;
    float: left;
}
.ImgConnect {
  width: 100%;
  height: 12vh;
  background-size: cover;
  display: block;
  border-radius: 50%;
}
.connectionTitle {
 margin-top: 5%;
 margin-left: 2%;
 font-weight: bold;
 float: left;
}
.connectionBtn {
  float: right;
    margin-right: 5%;
}
.connectBtn {
  background-color: #f7f7f7!important;
  border-color: #eee!important;

  margin-top: 25%;

}

.mainMessaging {
  margin-top: 2%;
  width: 70%;
  height: 74vh;
  border: 1px solid #eee;
  /*margin-bottom: 2%;*/
}
.pm {
  color: black;
}
.navMessage {
  background-color: white!important;
  border-bottom: 1px solid #eee;
}
.navbarMessageName {
  color: black!important;
  font-size: 1.5em;
}
.board {
  width: 97.5%;

  height: 45vh;
   overflow-y: scroll;
}
.messageTextArea {

  width: 95%;
  margin: auto;
}
.msgTextArea {
  margin-top: 1%;
  width: 100%;
  border: 2px solid #585b60;
  border-radius: 1%;
}
.tabLink {
  color: black!important;
}
.networkTab {
  margin: 0;
  font-size: 0.8em;
}
.tabSelected {
  color: #0077b5!important;
  border-bottom: 4px solid #0077b5;
}
.signupField {
  width: 100%;
  height: 5vh;
  float: left;
  margin-bottom: 3%;
  border: 0px solid white;
  border-bottom: 2px solid #eee;
  border-radius: 0px;


}
.signupForm {

  background-color: white;
  border: 1px solid #eee;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
  margin: auto;
  margin-top: 2%;
  font-size: 0.75em;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
.signupBtn {
  width: 100%;
  background-color: #008cc9!important;

}

.fieldsContent {
  width: 80%;
  margin: auto;
}
.signupTitle {
  text-align: center;
  margin-top: 2%;
}
.navSignin {
  padding-left: 1%;
}
.chatMessaging {
  margin-right: 5%;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  width: 20%;
  height: 30vh;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 1000;

}
.chatBoard {
  width: 100%;
  height: 25vh;
  overflow-y: scroll;
  z-index: 1000;
}
.inputhat {

}
.tagsField {
  width: 100%;
  height: 5vh;
  float: left;
  color: black;
  font-size: 1.3em;
  margin-bottom: 3%;
  font-family: sans-serif;
}
.skills {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  text-align: center;
  font-size: 0.8em;
  color: #616a77;
  font-family: sans-serif;
  font-weight:100;
  letter-spacing: 0px;
}
.suggestedName {
  margin-top: 0px;
  margin-bottom: 0px;
}
.logoTradeScript {
width: 45px;
margin-right: 5%;
}
.authBtn:hover {
    background-color: #0077b5!important;
}
.lessonSenderName {
  margin-bottom: 0;
  margin-top: 2%;
  font-weight:800;
  font-size: 1em;
  margin-left: 2.5%;
  font-family: sans-serif;
}
.lessonContent {
  font-family: sans-serif;
  margin-left: 2.5%;
  margin-right: 2%;
  font-size: 1em;
}
.codeStyle {
  background-color: #eee;
  border: 1px solid #cecece;
  margin-left: 2.5%;
  margin-right: 2%;
  padding-left: 2%;
  font-family: 'Titillium Web';
  border-radius: 5px;
    font-size: 1em;
}
.chatSender{
  font-weight:800;
}
.chatMsgContainer{
margin: 2%;
margin-bottom: 5%;
font-size: 0.9em;
}


.myProfileInfo {
  /*margin-bottom: 1%;*/
  padding-top: 1.5%;
  font-size: 1.5em;
 text-align: center;
 /*padding-left: 2%;*/
  height: 56vh;
  background-color: white;
  border: 1px solid #eee;
}

.myImg {
  width:25%;
    float: left;
    margin-left: 2%;
}
.myImgProfile {
width:100%;
  background-size: cover;
  display: block;
  border-radius: 50%;
}
.myTitle {
 margin-top: 9%;
 margin-left: 5%;
 float: left;
 font-size: 1.5em;

}
.editMyProfileBtn {
  float: left;
  margin-left: 5%;

}
.editProfileBtn {
  background-color: #f7f7f7!important;
  border-color: #eee!important;

  margin-top: 67%;

}
.MyBio {
  margin: 2%;
  float: right;
  text-align: center;
  font-size: .65em;
  color: #606060;
  /*border-top: 1px solid #eee;*/
  padding-top: 2%;
}
.myProfileSkills {
  margin: 2%;
    font-size: .5em;
}
.myPreviousLessons {
  width: 50%;

  margin: auto;
  margin-top: 1.5%;
  padding-top: 1.5%;
  font-size: 1.5em;
 text-align: center;
 /*padding-left: 2%;*/
  height: 58vh;
  background-color: white;
  border: 1px solid #eee;
}
.prevMessaging {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  height: 60vh;
  border: 1px solid #eee;
  background-color: white;
  margin-bottom: 2%;
}
.searchLessonsBtn {
  margin-top: 7.5%!important;
}
.searchLessonsForm {
    width: 40%!important;
}
.bootstrap[_ngcontent-c3] tag[_ngcontent-c3] {

  background-color: #0077b5!important;
}
#selectFile::-webkit-file-upload-button {
    width: 40%;
    height: 4vh;
    color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #0077b5;
}
.onlineSymbol {
  width: 5%;
  height: 1.57vh;
  background-color: rgb(66, 183, 42);
  border: 1px solid rgb(66, 183, 42);
  display: inline-block;
  float: right;
  border-radius: 50%;
  text-align: right;
  margin-left: 92%;
  margin-top: 2%;
}
pre {
  margin: 0;
  margin-bottom: 0.5%;
}


 p + pre{
    background-color: white!important;
    border: 0px solid white!important ;
    padding-left: 0!important;
}
.notificationreq{
  background-color: red;
}
.badge1 {

  background-color: #0077b5;
  border-radius: 50%;

}
.startLessonButton {
  width: 100%;
  margin: auto;

}
.startLessonContainer{
  width: 25%;
  margin: auto;

  margin-bottom: 1%;
}
.startLessonButton:hover {
    background-color: #0077b5!important;
}

.chatMessageNav {

  padding: .3%;
  margin-right: 5%;
  border: 1px solid silver;
  width: 20%;
  height: 5vh;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  cursor: pointer;

}
.chatMessageOnlineSymbol{
  width: 4%;
  height: 1.50vh;
  background-color: rgb(66, 183, 42);
  border: 1px solid rgb(66, 183, 42);
  display: inline-block;
  float: left;
  border-radius: 50%;
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;

}
.clickhatMessageNav {
  margin-bottom: 30vh;
}
.chatMsgInput {
  width: 100%;

  border: 0px solid silver;
  border-top: 1px solid silver;
  /*border-bottom: 1px solid silver;*/
}
.chatMsgInput:focus {
  outline: none;
  border-top: 1px solid #0077b5;
}
